
@{
    ViewBag.Title = "RegisterApproved";
}

<h2>RegisterApproved</h2>

<p>
    Rejestracja przebiegła pomyślnie. Zaloguj się!
</p>

@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary" })